@model Tuple<List<BloodDonation.Business.DTO.BloodTypeDto>, List<BloodDonation.Business.DTO.CityDTO>>
@{
    ViewData["Title"] = "Registration Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
        <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <title>
        Registration Form
    </title>
  
   
</head>
   
<body class="Form-body">

@using (Html.BeginForm("Index", "Logged", FormMethod.Post))
{



    <div class="form-control">
        <label for="Email" id="label-name">
            Email
        </label>


        <input type="email"
               id="email"
               placeholder="Email" name="email"/>
    </div>

    <div class="form-control">
        <label for="password" id="label-name">
            Password
        </label>


        <input type="password"
               id="password"
               placeholder="Password" name="password"/>
    </div>


    <div class="form-control">
        <label for="firstname" id="label-name">
            First Name
        </label>


        <input type="text"
               id="fname"
               placeholder="Enter your first name" name="fname" style="width: 435px"/>
    </div>

    <div class="form-control">
        <label for="lastname" id="label-name">
            Last Name
        </label>
        <input type="text"
               id="lname"
               placeholder="Enter your last name" name="lname" style="width: 435px"/>
    </div>

    <div class="form-control">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone"/>
    </div>

    <div class="form-control">
        <label for="age" id="label-age">
            Date of Birth
        </label>
        <input type="date" id="birth-date" name="birthDate">
    </div>



    <div class="form-control">
    <label> 
        City
    </label>
      <br>
      <select class="City-selector" id="city" name="city">
          <option value="0">Please select</option>
          @foreach (var city in Model.Item2)
          {
              <option value="@city.ID">@city.CityName</option>
                
          }
     </select>
    </div>



    <div class="form-control">
        <label>
            Blood Type
        </label>
        <br>
        <select class="bloodtype-selector" id="blood-type" name="bloodType" style="width: 435px">
            <option value="0">Please select</option>
            @foreach (var bloodType in Model.Item1)
            {
                <option value="@bloodType.ID">@bloodType.Name</option>
                        
            }
        </select>
    </div>
    
    <div class="form-control">
        <label>
            Gender
        </label>
        <select id="gender" name="gender">
            <option value="0">Male</option>
            <option value="1">Female</option>

        </select>
    </div>
    
    <a class="btn btn-half" asp-area="" asp-controller="Logged" asp-action="Index" > <input type="submit" value="Register" class="SubmitFormBtn"/></a>
    @* <button type="submit" value="submit" class="SubmitFormBtn"> *@
    @*     Submit *@
    @* </button> *@
}

@* <script src="~/lib/jquery/dist/jquery.js"></script>  *@
@*    <script> *@
@*    $('#country').one("change",function (){ *@
@*        var id =$("#theme option:selected").val(); *@
@*        $.post("/SignIn/Registration",{ *@
@*            data: id *@
@*        }); *@
@*    }); *@
@* *@
@*     </script>  *@
</body>
   
</html>