
@{
    ViewData["Title"] = "Donation Of Plasma Page";
}

<html>
    <head>
        <title>Blood Donation Eligibility Requirements</title>
        <link href="~/css/site.css" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/fc5ac8f09d.js" crossorigin="anonymous"></script>
         <!--BlootStrap CDN-->
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

    </head>
    <body>
    <section class="DonationOfPlasma-area" id="DonationOfPlasma">
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 text-center">
                                <div class="title">
                                                <h2>Plasma Can Help</h2>
                                                <div class="sub-heading subheading">
                                                        <p>A Source of Life</p>
                                                </div>
                                </div>
                        </div>

                </div>
        </div>
      </section>
      <section class="a">
          <h1>Donations of plasma for use in medicines begin</h1>
          <hr>
          <br>
          <div class="plasma-details">
          <p>People have started donating plasma to use in medicines for the first time
              <br> in more than 20 years today (7 April 2021).</p>
          <br>
          <p>Plasma contains hundreds of essential proteins and antibodies that are vital in the body's ability to maintain critical functions,
           <br> including controlling bleeding and fighting infections. Without enough of any one of these proteins,a person could have or 
           <br>develop a life-threatening illness, such as an immune deficiency, genetic emphysema, hemophilia, rabies or tetanus.</p>
        
           <br><br>
          <h1>How medicines made from plasma can help</h1>
          <hr>
          <br>
        <p>Plasma-protein medicines, made from the plasma of caring donors like you, are the best way to restore and
             replace any<br> deficiencies of these critical plasma proteins. Treating just one patient with genetic emphysema 
            for a year requires 900<br> plasma donations. To create enough medicine for a patient suffering a single year 
            takes approximately 1,200 plasma 
            <br>donations.</p>
            <br>
        <p>The proteins found in plasma that are extracted and purified into life-saving treatments are unique to the human body.
        <br>These proteins can't be synthetically created or replicated in a lab. And considering that many patients depend on 
        <br>plasma-based medications for lifelong treatment of their illnesses, there continues to be a need for committed plasma
        <br> donors to help treat these patients. That's why your donations are so important.</p>
        <img src="~/images/plasma.jpeg" alt="plasma" width="400" height="400" >
        <img src="~/images/plasma2.jpeg" alt="plasma" width="400" height="400">
         
        </div> 
      </section>  
      <script src="~/js/site.js"></script>
    </body>
</html>