
@{
    ViewData["Title"] = "Eligibility Requirements Page";
    Layout = "_Layout";
}

<html>
<head>
    <title>Blood Donation Eligibility Requirements</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/fc5ac8f09d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <section class="eligibility-requirements-area" id="eligibility-requirements">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="title">
                        <h2>Who Can Give Blood</h2>
                        <div class="sub-heading">
                            <p>Save a Life</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="a">
        <h1>Requirements by Donation Type</h1>
        <br><br>
        <h3>
            To ensure the safety of both patients and donors, these are some of <br> the
            requirements donors must meet to be eligible to donate blood <br> based on their donation type.
        </h3>
        <br>
        <h5>Whole Blood Donation</h5>
        <ol>
            <li>Donation frequency: Every 56 days.</li>
            <li>You must be in good health and feeling well. </li>
            <li>You must be at least 16 years old.</li>
            <li>You must weigh at least 50 Kgs.</li>
        </ol>
        <br>
        <h5>Power Red Donation</h5>
        <ol>
            <li>Donation frequency: Every 112 days, up to 3 times/year.</li>
            <li>You must be in good health and feeling well.</li>
            <li>Male donors must be at least 17 years old, at least l53 cm tall and weigh at least 59 Kgs.</li>
            <li>Female donors must be at least 19 years old, at least l53 cm tall and weigh at least 68 Kgs.</li>
        </ol>
        <br>
        <h5>Platelet Donation</h5>
        <ol>
            <li>Donation frequency: Every 7 days, up to 24 times/year.</li>
            <li>You must be in good health and feeling well.</li>
            <li>You must be at least 17 years old.</li>
            <li>You must weigh at least 50 Kgs.</li>
        </ol>
        <br>
        <h5>AB Elite Plasma Donation</h5>
        <ol>
            <li>Donation frequency: Every 28 days, up to 13 times/year. </li>
            <li>You must have type AB blood.</li>
            <li>You must be in good health and feeling well.</li>
            <li>You must be at least 17 years old. </li>
            <li>You must weigh at least 50 Kgs.</li>
        </ol>
    </section>

    <script src="~/js/site.js"></script>
</body>
</html>
