@model List<BloodDonation.Business.DTO.BloodRequestDto>

@{
    Layout = "_LayoutUser";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4 class="text-primary" style="margin-top: 120px ; color:black">Pending Requests </h4>
        </div>
        <div class="col-6">
        </div>
    </div>
    <br/>
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100% ">
            <thead>
            
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Date of birth 
            </th>
            <th>
                Gender
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            </thead>
            <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td width="30%">@request.UserID</td>
                  
                    
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p style="color: black">No Requests</p>
    }
</div>