@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@*     *@
@* <head> *@
@*     <meta charset="UTF-8"> *@
@*     <meta http-equiv="X-UA-Compatible" content="IE=edge"> *@
@*     <meta name="viewport" content= *@
@*           "width=device-width, initial-scale=1.0"> *@
@*     <link href="~/css/site.css" rel="stylesheet" type="text/css"> *@
@*     <title> *@
@*         Change Password  *@
@*     </title> *@
@*    *@
@*     *@
@* </head> *@
@*     *@
@* <body class="Form-body" style="height: max-content;" >  *@
@*     *@
@*      *@
@* <form id="form" class="password-form"> *@
@*    *@
@*          *@
@*     <div class="form-control"> *@
@*     <label>Current Password</label> *@
@*                <input type="password" *@
@*                       id="CurrentPassword" *@
@*                       placeholder="Current Password" /> *@
@*                       <br> *@
@*       *@
@*                <label>New Password</label> *@
@*                <input type="password" *@
@*                       id="NewPassword" *@
@*                       placeholder="New Password" *@
@*                       name="password"/> *@
@*                       <br> *@
@*     *@
@*                 <label>Confirm Password</label> *@
@*                 <input type="password" *@
@*                       id="ConfirmPassword" *@
@*                       placeholder="Confirm New Password" /> *@
@*                       <br> *@
@*     </div> *@
@*      *@
@*     <button type="submit" value="submit" class="SubmitFormBtn"> *@
@*         Save Changes *@
@*     </button> *@
@*     <button type="submit" value="submit" class="SubmitFormBtn"> *@
@*         Cancel *@
@*     </button> *@
@* </form> *@
@*  <script src="~/js/site.js"></script> *@
@* </body> *@
@*     *@
@* </html> *@



@model Tuple<List<BloodDonation.Business.DTO.BloodTypeDto>, List<BloodDonation.Business.DTO.CityDTO>>

@{
    Layout = "_LayoutUser";
    
}


<html>
<head>
    <title>Change Password</title>

    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/fc5ac8f09d.js" crossorigin="anonymous"></script>
    <!--BlootStrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
          "width=device-width, initial-scale=1.0">

</head>
<body class="search-blood-body">

<section class="search-blood">
    
    <div class="container">
            
   



@*         <button type="submit" value="submit" class="SubmitFormBtn"> *@
@*             Save Changes *@
@*         </button> *@
@*         <button type="submit" value="submit" class="SubmitFormBtn"> *@
@*             Cancel *@
@*         </button></div> *@

@using (Html.BeginForm("UpdatePasswordAction", "Logged", FormMethod.Post))
                 {
                     
                    



   
    <label>Current Password</label> 
                     <br>
                <input type="password" 
                     id="CurrentPassword" 
                      placeholder="Current Password" style="width: 435px;height: 40px"/> 
                       <br> 
                     <br>

            <label>New Password</label> 
                     <br>
                <input type="password" 
                    id="NewPassword" 
                     placeholder="New Password" 
                       name="password" style="width: 435px;height: 40px"/> 
                       <br> 
                     <br>
     
                 <label>Confirm Password</label> 
                     <br>
                 <input type="password" 
                       id="ConfirmPassword" 
                       placeholder="Confirm New Password" style="width: 435px;height: 40px"/> 
                      <br> 
                     <br>
     
   
            
            
                  <button type="submit" value="submit" class="SubmitFormBtn">Save Changes </button> 
                  <button type="submit" value="submit" class="SubmitFormBtn">Cancel</button>
            
                  }
                



        </div>
    </section>

      <script src="~/js/site.js"></script>  
    </body>
</html>
