
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
          "width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <title>
        Change Password 
    </title>
  
   
</head>
   
<body class="Form-body" style="height: max-content;" > 
   
    
<form id="form" class="password-form">
  
        
    <div class="form-control">
    <label>Current Password</label>
               <input type="password"
                      id="CurrentPassword"
                      placeholder="Current Password" />
                      <br>
     
               <label>New Password</label>
               <input type="password"
                      id="NewPassword"
                      placeholder="New Password" />
                      <br>
   
                <label>Confirm Password</label>
                <input type="password"
                      id="ConfirmPassword"
                      placeholder="Confirm New Password" />
                      <br>
    </div>
    
    <button type="submit" value="submit" class="SubmitFormBtn">
        Save Changes
    </button>
    <button type="submit" value="submit" class="SubmitFormBtn">
        Cancel
    </button>
</form>
 <script src="~/js/site.js"></script>
</body>
   
</html>