@model Tuple<List<BloodDonation.Business.DTO.BloodTypeDto>, List<BloodDonation.Business.DTO.CityDTO>>
@{
    ViewData["Title"] = "Registration Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <title>
        Registration Form
    </title>


</head>

<body class="Form-body">

    @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
    {



        <div class="form-control">
            <label for="Email" id="label-name">
                Email
            </label>


            <input type="email"
                   id="email"
                   placeholder="Email" name="email" />
            <span id="email-exist-error-message" style="color: red">this email is already exist</span>
        </div>

        <div class="form-control">
            <label for="password" id="label-name">
                Password
            </label>


            <input type="password"
                   id="password"
                   placeholder="Password" name="password" />
        </div>


        <div class="form-control">
            <label for="firstname" id="label-name">
                First Name
            </label>


            <input type="text"
                   id="fname"
                   placeholder="Enter your first name" name="fname" style="width: 435px" />
        </div>

        <div class="form-control">
            <label for="lastname" id="label-name">
                Last Name
            </label>
            <input type="text"
                   id="lname"
                   placeholder="Enter your last name" name="lname" style="width: 435px" />
        </div>

        <div class="form-control">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" />
        </div>

        <div class="form-control">
            <label for="age" id="label-age">
                Date of Birth
            </label>
            <input type="date" id="birth-date" name="birthDate">
        </div>



        <div class="form-control">
            <label>
                City
            </label>
            <select class="City-selector" id="city" name="city">
                <option value="0">Please select</option>
                @foreach (var city in Model.Item2)
                {
                    <option value="@city.ID">@city.CityName</option>

                }
            </select>
        </div>



        <div class="form-control">
            <label>
                Blood Type
            </label>
            <select class="bloodtype-selector" id="blood-type" name="bloodType" style="width: 435px">
                <option value="0">Please select</option>
                @foreach (var bloodType in Model.Item1)
                {
                    <option value="@bloodType.ID">@bloodType.Name</option>

                }
            </select>
        </div>

        <div class="form-control">
            <label>
                Gender
            </label>
            <select id="gender" name="gender">
                <option value="0">Male</option>
                <option value="1">Female</option>

            </select>
        </div>

        <a class="btn btn-half" asp-area="" asp-controller="Logged" asp-action="Index">
            <input type="submit" value="Register" class="SubmitFormBtn" />
        </a>
    }
    <script type="text/javascript">
        $("#email-exist-error-message").hide();


        if (window.location.hash) {
            var hash = window.location.hash.substring(1);
            if (hash == "1") {
                $("#email-exist-error-message").show();
            }
            else {
                $("#email-exist-error-message").show();
            }
        }
    </script>
</body>

</html>