@{
    Layout = "_LayoutUser";
}
<!--<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Available Donors List</h2>
        </div>
        <div class="col-6">
            Create new Item
        </div>
    </div>
    <br/>
</div>-->
